%section
  .row
    .col-xs-12.col-sm-8.col-md-8.col-lg-8
      %h1 About me
      %p
        Hello, as you (surely) already know my name is David (although my first name is Jorge). I am programmer/father of you girls/husband &amp; Crossfit fan. This page aims to let you know about what I do, and tell you a little bit about my experience and my professional services.
      %p.muted
        Also you will find some personal notes about a wide range of topics related to lifestyle, opinions, etcetera etcetera.

    .col-xs-12.col-sm-4.col-md-4.col-lg-4.panel.hidden-xs
      %p
        &nbsp;
      %img.img-circle.img-responsive.pull-right(width="300" src="/img/photo-1.png")

%section
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h2 Skills

      %p
        %span.label.label-success Ruby
        %span.label.label-success Ruby on rails
        %span.label.label-success Sinatra
        %span.label.label-success RSpec
        %span.label.label-success Minitest
        %span.label.label-success Capybara
        %span.label.label-success Cucumber

      %p
        %span.label.label-success PHP
        %span.label.label-success Symfony 1.x
        %span.label.label-success Doctrine
        %span.label.label-default Backbone.js
        %span.label.label-default jQuery
        %span.label.label-default Codeigniter
        %span.label.label-default MySQL
        %span.label.label-default Postgresql
        %span.label.label-default Apache
        %span.label.label-default Nginx
        %span.label.label-default Chef

      %p
        %span.label.label-success Linux
        %span.label.label-success SCRUM
        %span.label.label-success TDD

%section
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h2 Personal projects

  .row
    .col-sm-4.portfolio-item.panel
      %h5
        Picturama
        %span.badge Gem
        %span.badge Ruby
      %p.small
        Resize images in a folder recursively.
      %a.btn.btn-primary.center-block(href="https://rubygems.org/gems/picturama" target="_blank")
        View in rubygems
      %p
        %img.hidden-xs(src="https://api.travis-ci.org/aboyon/pictorama.png?branch=master")
        %img.hidden-xs(src="https://codeclimate.com/github/aboyon/pictorama.png")
        %img.hidden-xs(src="https://coveralls.io/repos/aboyon/pictorama/badge.png")


    .col-sm-4.portfolio-item.panel
      %h5
        Draw objects
        %span.badge Backbone
      %p.small
        Play with backbone.js. Draw squares in the screen
      %a.btn.btn-default.center-block(href="https://github.com/aboyon/backbone-apps" target="_blank")
        View in github

    .col-sm-4.portfolio-item.panel
      %h5 
        Picturama
        %span.badge jquery
        %span.badge plug-in
      %p.small
        Easy and simple text search in HTML with jquery.
      %a.btn.btn-default.center-block(href="https://github.com/aboyon/jQuery-plugins" target="_blank")
        View in github

%section
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h2 Experience

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p 
        Oct 2012 / Present time
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Velocity Partners
      %p
        %ul
          %li Role: Fulltime Sr. Ruby developer
          %li Technologies: Ruby, Rails 4, Rails 3, Grape, Minitest, Cucumber, Capybara, RSpec, Redis, Resque, Sidekiq, PostgreSQL, MySQL, Chef. Jenkins. jQuery.
          %li Tasks: Ruby on Rails development (API & Frontend applications) for several clients. Technical interview for applicants.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2 
        Oct 2014 / Jun 2015
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Credible labs
        %span.muted (Contractor)
      %p
        %ul
          %li Role: Ruby engineer
          %li Technologies: Ruby, Rails 4, Cucumber, Capybara, RSpec, Redis, Resque, MySQL. Backbone.js, LESS.
          %li Tasks: Product API development. Architecture design, and refactor of large portions of code. Third party service integration (such as Mailchimp, LinkedIn profile connections, etc etc)

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Jul 2012 / Oct 2012
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Globant
      %p
        %ul
          %li Role: Fullstack developer
          %li Technologies: HTML5, CSS3, Backbone.js, jQuery. PHP, Codeigniter, PHPUnit. Jenkins.
          %li Tasks: Frontend websites development. Internal project written in PHP process improvement.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Dec 2009 / Jul 2012
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Teracode
      %p
        %ul
          %li Role: Team Leader
          %li Technologies: PHP, PHPUnit, Codeigniter, Symfony 1.4, Doctrine 1.2, MySQL. Jenkins. jQuery.
          %li Tasks: Team coordination tasks. Client deliverable definitions. Sprint planning. Architecture definition and model design.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Apr 2008 / Dec 2009
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Newlink Group Argentina
      %p
        %ul
          %li Role: Sr. Developer
          %li Technologies: PHP, Codeigniter, Symfony 1.4, Doctrine 1.2, MySQL. jQuery, ExtJS.
          %li Tasks: Client deliverable definitions. Product development for several clients of this company.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Oct 2005 / March 2008
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Newlink Corp
        %span.muted (Contractor)
      %p
        %ul
          %li Role: Freelance developer
          %li Technologies: PHP, Codeigniter, MySQL. jQuery, ExtJS.
          %li Tasks: Product development for several clients of this company.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Jul 2003 / Oct 2005
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Real Estates Network
        %span.muted (Contractor)
      %p
        %ul
          %li Role: Freelance developer
          %li Technologies: PHP, MySQL. Prototype.
          %li Tasks: Properties search engine written in PHP + MySQL.