%h1 About me

%p
  As I mentioned in the home page, I am married since 2004, I have two beautiful daugthers, 
  I'm
  %a(href='http://www.wol.org/wp-content/uploads/sites/26/2016/02/SoF-9-2015-1.pdf' target='_blank') Christian guy
  and I love (seriouly.. I love it) Crossfit and Running. Honestly I did not make a desicion yet about what likes me more, but so far, both deserve my free time.
%p
  Programming is something I really like to do, even more when I get paid for that :) ha!. I have been in this business since I was 20 years old, hence, I collected almost 16 years of experience dealing with deadlines, startups, clients, deliverables and.. HOTFIXES, so, even when I know that I am not a genius, when I commit with a project, I take it seriously, and I don't give up until the stuff get done. Even when it's something I don't like to do it always, I'm willing to walk the extra mile when worth it.

%p
  But fortunately, the life is more than spend hours in front of the laptop, filling tickets, defining acceptance criteria, and creating pull request. Thanks God there's a world to discover, a family to enjoy and friends for fun!.
%p
  So.. when I am not working (and neither and getting provisions in the supermarket hehe) I workout in the crossfit box or.. in the street, running, adding kilometers to my legs. I think my knees will pay the price some years forward, but.. who cares! life is one and too short to spend you life sit on the couch. 

%h1 My workouts...

%p
  As a proof that I am not a liar, these are some workouts that I pulled directly from y Strava account.
%iframe(height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/15831855/latest-rides/2c0e4fe3402f09b5c5f40d1d9b870ee6f4959e35')