%section
  .row
    .col-xs-12.col-sm-8.col-md-8.col-lg-8
      %h1 Acerca de..
      %p
        Hola, como seguramente ya estar&aacute;s al tanto me llamo David (aunque mi primer nombre es Jorge).
        Soy un programador/padre de dos hijas/marido &amp; medio fan&aacute;tico del Crossfit. Esta p&aacute;gina
        pretende mostrarte mis servicios profesionales, mi experiencia y lo que se hacer.
        Por cierto, yo no soy el
        %a(href="http://es.wikipedia.org/wiki/David_Silveria" target="_blank")
          ex b

      %p
        %a.btn.btn-success(href="https://github.com/aboyon?tab=repositories" target="_blank")
          Mi github
        %a.btn.btn-primary(href="https://ar.linkedin.com/in/jorgedavidsilveira" target="_blank")
          Mi linkedIn
        %a.btn.btn-primary(href="https://angel.co/david-silveira-1" target="_blank")
          Mi Angel.co

      %p.muted
        Tambi&eacute;n, ocasionalmente, podr&aacute;s encontrar algunas notas de color respecto a actualidad, estilo de vida, m&uacute;sica y opini&oacute;n general.

      %p
        %a.btn.btn-default.btn-sm(href="http://www.last.fm/user/aboyon" target="_blank")
          Mi LastFM
        %a.btn.btn-default.btn-sm(href="https://player.spotify.com/user/aboyon" target="_blank")
          Mi Spotify

    .col-xs-12.col-sm-4.col-md-4.col-lg-4.panel.hidden-xs
      %p
        &nbsp;
      %img.img-circle.img-responsive.center-block(width="300" src="/img/y_si.jpg")
      %p.muted_2.text-center.small
        %em
          No, no soy aficionado a la fotografia.

%section
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h2 Conocimientos que fui adquiriendo

      %p
        %span.label.label-success Ruby
        %span.label.label-success Ruby on rails
        %span.label.label-success Sinatra
        %span.label.label-success RSpec
        %span.label.label-success Minitest
        %span.label.label-success Capybara
        %span.label.label-success Cucumber

      %p
        %span.label.label-success PHP
        %span.label.label-success Symfony 1.x
        %span.label.label-success Doctrine
        %span.label.label-default Backbone.js
        %span.label.label-default jQuery
        %span.label.label-default Codeigniter
        %span.label.label-default MySQL
        %span.label.label-default Postgresql
        %span.label.label-default Apache
        %span.label.label-default Nginx
        %span.label.label-default Chef

      %p
        %span.label.label-success Linux
        %span.label.label-success SCRUM
        %span.label.label-success TDD

%section
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h2 Proyectos personales

  .row
    .col-sm-4.portfolio-item.panel
      %h5
        Picturama
        %span.badge Gem
        %span.badge Ruby
      %p.small
        Basicamente, redimensiona imagenes recursivamente en una carpeta.
      %a.btn.btn-primary.center-block(href="https://rubygems.org/gems/picturama" target="_blank")
        Ver en rubygems
      %p
        %img.hidden-xs(src="https://api.travis-ci.org/aboyon/pictorama.png?branch=master")
        %img.hidden-xs(src="https://codeclimate.com/github/aboyon/pictorama.png")
        %img.hidden-xs(src="https://coveralls.io/repos/aboyon/pictorama/badge.png")


    .col-sm-4.portfolio-item.panel
      %h5
        Dibujador de cuadrados
        %span.badge Backbone
      %p.small
        Aprendiendo a usar backbone arme esta mini app que permite dibujar cuadrados en pantalla.
      %a.btn.btn-default.center-block(href="https://github.com/aboyon/backbone-apps" target="_blank")
        Ver en github

    .col-sm-4.portfolio-item.panel
      %h5 
        Buscar en pagina
        %span.badge jquery
        %span.badge plug-in
      %p.small
        Sencillo y liviano buscador de texto en el DOM de una pagina, sobre un elemento dado.
      %a.btn.btn-default.center-block(href="https://github.com/aboyon/jQuery-plugins" target="_blank")
        Ver en github

  .row
    .col-sm-4.portfolio-item.panel
      %h5
        Picturama UI
        %span.badge Ruby
        %span.badge Sinatra
      %p.small
        UI para mostrar como trabaja la gema de arriba.
        %a.btn.btn-default.center-block(href="https://github.com/aboyon/picturama-ui" target="_blank")
          Ver en github
      %p
        %a.btn.btn-success.btn-sm(href="http://picturama.davidsilveira.me/es" target="_blank")
          Probarlo

%section
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h2 Experiencia

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p 
        Oct 2012 / Actualidad
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Velocity Partners
      %p
        %ul
          %li Rol: Fulltime Sr. Ruby developer
          %li Tecnologias: Ruby, Rails 4, Rails 3, Grape, Minitest, Cucumber, Capybara, RSpec, Redis, Resque, Sidekiq, PostgreSQL, MySQL, Chef. Jenkins. jQuery.
          %li Tareas: Ruby on Rails development (API & Frontend applications) for several clients. Technical interview for applicants.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2 
        Oct 2014 / Jun 2015
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Credible labs
        %span.muted (Independiente)
      %p
        %ul
          %li Rol: Ruby engineer
          %li Tecnologias: Ruby, Rails 4, Cucumber, Capybara, RSpec, Redis, Resque, MySQL. Backbone.js, LESS.
          %li Tareas: Product API development. Architecture design, and refactor of large portions of code. Third party service integration (such as Mailchimp, LinkedIn profile connections, etc etc)

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Jul 2012 / Oct 2012
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Globant
      %p
        %ul
          %li Rol: Fullstack developer
          %li Tecnologias: HTML5, CSS3, Backbone.js, jQuery. PHP, Codeigniter, PHPUnit. Jenkins.
          %li Tareas: Frontend websites development. Internal project written in PHP process improvement.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Dec 2009 / Jul 2012
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Teracode
      %p
        %ul
          %li Rol: Team Leader
          %li Tecnologias: PHP, PHPUnit, Codeigniter, Symfony 1.4, Doctrine 1.2, MySQL. Jenkins. jQuery.
          %li Tareas: Team coordination Tareas. Client deliverable definitions. Sprint planning. Architecture definition and model design.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Apr 2008 / Dec 2009
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Newlink Group Argentina
      %p
        %ul
          %li Rol: Sr. Developer
          %li Tecnologias: PHP, Codeigniter, Symfony 1.4, Doctrine 1.2, MySQL. jQuery, ExtJS.
          %li Tareas: Client deliverable definitions. Product development for several clients of this company.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Oct 2005 / March 2008
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Newlink Corp
        %span.muted (Independiente)
      %p
        %ul
          %li Rol: Freelance developer
          %li Tecnologias: PHP, Codeigniter, MySQL. jQuery, ExtJS.
          %li Tareas: Product development for several clients of this company.

  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      %p.muted_2
        Jul 2003 / Oct 2005
    .col-xs-12.col-sm-9.col-md-9.col-lg-9
      %p
        %b Real Estates Network
        %span.muted (Independiente)
      %p
        %ul
          %li Rol: Freelance developer
          %li Tecnologias: PHP, MySQL. Prototype.
          %li Tareas: Properties search engine written in PHP + MySQL.