%h1 About me

%p
  %span.muted (Esta seccion sigue en ingles porque me da fiaca traducirla)

%p
  As I mentioned in the home page, I am married since 2004, I have two beautiful daugthers,
  I'm
  %a(href='http://www.wol.org/wp-content/uploads/sites/26/2016/02/SoF-9-2015-1.pdf' target='_blank') Christian guy
  and I like Running (and sometimes... a little bit of Crossfit).
%p
  Programming is something I really like to do, even more when I get paid for that :). I have been in this industry since I was 20 years old, hence, I collected almost 19 years of experience dealing with deadlines, startups, big clients, deliverables and.. HOTFIXES, so, even when I know that I am not a genius, when I commit with a project, I take it seriously, and I don't give up until the stuff get done. Even when it's something I don't like to do, I'm willing to "walk the extra mile" when worth it.

%p
  Fortunately, life it's more than spend hours in front of the laptop, filling tickets, defining acceptance criterias, and creating pull requests. Thanks God there's a world to discover and a family to enjoy.
